* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.nav-wrapper {
  background-color: #ffffff;
}
.nav-wrapper nav {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}
.nav-wrapper nav .anchors {
  min-width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5rem;
}
.nav-wrapper nav .anchors ul {
  width: 100%;
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
.nav-wrapper nav .anchors ul li .button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 3px 5px 0 rgba(0, 98, 152, 0.4);
  color: #990000;
  font-size: 18px;
  padding: 0.3em 1em;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1.625rem;
  position: relative;
  isolation: isolate;
}
.nav-wrapper nav .anchors ul li .button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #006298;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.nav-wrapper nav .anchors ul li .button:hover::after, .nav-wrapper nav .anchors ul li .button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}
.nav-wrapper nav .search {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
}
.nav-wrapper nav .search ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-wrapper nav .search ul li i {
  font-size: 24px;
  color: #990000;
  padding-right: 0px;
  transition: 200ms ease-in;
}
.nav-wrapper nav .search ul li i:hover {
  transform: scale(1.3);
  background-color: #006298;
  padding: 0.5rem;
  border-radius: 10px;
}
.nav-wrapper nav .search ul li .button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 3px 3px 5px 0 rgba(0, 98, 152, 0.4);
  color: #990000;
  font-size: 18px;
  padding: 0.3em 1em;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1.625rem;
  position: relative;
  isolation: isolate;
  margin-left: 50px;
}
.nav-wrapper nav .search ul li .button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #006298;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;
}
.nav-wrapper nav .search ul li .button:hover::after, .nav-wrapper nav .search ul li .button:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

.home {
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100vw;
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}

.home h1,
h2,
h3,
p,
img {
  max-width: 60vw;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20vw;
}

.home h1,
h2,
h3 {
  color: #990000;
}

.home p,
a,
span {
  color: #59264d;
}

.links h2,
h3 {
  color: #990000 !important;
}

.date {
  display: flex;
  width: 100%;
  min-height: 20px;
  border-top: solid 1px #59264d;
  border-bottom: solid 1px #59264d;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 10px;
}
.date p {
  color: #990000;
}

.desc {
  color: #59264d;
  font-size: 18px;
  font-weight: 600;
}

img {
  margin-top: 18px;
  margin-bottom: 18px;
}

/*# sourceMappingURL=styles.css.map */
